<table class="index">
	<tr>
		<th>Código de transação:</th>
		<th>Status:</th>
		<th>Data de pagamento:</th>
		<th>Data da ultima atualização:</th>
	</tr>
	<tr>
		<td><%= payment.id_transaction %></td>
		<td><%= payment.status %></td>
		<td><%= l payment.created_at %></td>
		<td><%= l payment.updated_at %></td>
	</tr>
</table>

